@import url(//at.alicdn.com/t/c/font_1491367_8kig7bk8pn.css);

.ke-container * {
    box-sizing: border-box;
}

/* common */
.ke-inline-block {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}

.ke-clearfix {
    zoom: 1;
}

.ke-clearfix:after {
    content: ".";
    display: block;
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.ke-shadow {
    box-shadow: 0px 0px 30px -6px #999;
    ;
    -moz-box-shadow: 0px 0px 30px -6px #999;
    ;
    -webkit-box-shadow: 0px 0px 30px -6px #999;
    ;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#A0A0A0', Direction=135, Strength=3);
    background-color: #F0F0EE;
}

.ke-menu a,
.ke-menu a:hover,
.ke-dialog a,
.ke-dialog a:hover {
    color: #337FE5;
    text-decoration: none;
}

/* icons */
.ke-icon-source {
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
}

.ke-icon-preview {
    background-position: 0px -16px;
    width: 16px;
    height: 16px;
}

.ke-icon-print {
    background-position: 0px -32px;
    width: 16px;
    height: 16px;
}

.ke-icon-undo {
    background-position: 0px -48px;
    width: 16px;
    height: 16px;
}

.ke-icon-redo {
    background-position: 0px -64px;
    width: 16px;
    height: 16px;
}

.ke-icon-cut {
    background-position: 0px -80px;
    width: 16px;
    height: 16px;
}

.ke-icon-copy {
    background-position: 0px -96px;
    width: 16px;
    height: 16px;
}

.ke-icon-paste {
    background-position: 0px -112px;
    width: 16px;
    height: 16px;
}

.ke-icon-selectall {
    background-position: 0px -128px;
    width: 16px;
    height: 16px;
}

.ke-icon-justifyleft {
    background-position: 0px -144px;
    width: 16px;
    height: 16px;
}

.ke-icon-justifycenter {
    background-position: 0px -160px;
    width: 16px;
    height: 16px;
}

.ke-icon-justifyright {
    background-position: 0px -176px;
    width: 16px;
    height: 16px;
}

.ke-icon-justifyfull {
    background-position: 0px -192px;
    width: 16px;
    height: 16px;
}

.ke-icon-insertorderedlist {
    background-position: 0px -208px;
    width: 16px;
    height: 16px;
}

.ke-icon-insertunorderedlist {
    background-position: 0px -224px;
    width: 16px;
    height: 16px;
}

.ke-icon-indent {
    background-position: 0px -240px;
    width: 16px;
    height: 16px;
}

.ke-icon-outdent {
    background-position: 0px -256px;
    width: 16px;
    height: 16px;
}

.ke-icon-subscript {
    background-position: 0px -272px;
    width: 16px;
    height: 16px;
}

.ke-icon-superscript {
    background-position: 0px -288px;
    width: 16px;
    height: 16px;
}

.ke-icon-date {
    background-position: 0px -304px;
    width: 25px;
    height: 16px;
}

.ke-icon-time {
    background-position: 0px -320px;
    width: 25px;
    height: 16px;
}

.ke-icon-formatblock {
    background-position: 0px -336px;
    width: 25px;
    height: 16px;
}

.ke-icon-fontname {
    background-position: 0px -352px;
    width: 21px;
    height: 16px;
}

.ke-icon-fontsize {
    background-position: 0px -368px;
    width: 23px;
    height: 16px;
}

.ke-icon-forecolor {
    background-position: 0px -384px;
    width: 20px;
    height: 16px;
}

.ke-icon-hilitecolor {
    background-position: 0px -400px;
    width: 23px;
    height: 16px;
}

.ke-icon-bold {
    background-position: 0px -416px;
    width: 16px;
    height: 16px;
}

.ke-icon-italic {
    background-position: 0px -432px;
    width: 16px;
    height: 16px;
}

.ke-icon-underline {
    background-position: 0px -448px;
    width: 16px;
    height: 16px;
}

.ke-icon-strikethrough {
    background-position: 0px -464px;
    width: 16px;
    height: 16px;
}

.ke-icon-removeformat {
    background-position: 0px -480px;
    width: 16px;
    height: 16px;
}

.ke-icon-image {
    background-position: 0px -496px;
    width: 16px;
    height: 16px;
}

.ke-icon-flash {
    background-position: 0px -512px;
    width: 16px;
    height: 16px;
}

.ke-icon-media {
    background-position: 0px -528px;
    width: 16px;
    height: 16px;
}

.ke-icon-div {
    background-position: 0px -544px;
    width: 16px;
    height: 16px;
}

.ke-icon-formula {
    background-position: 0px -576px;
    width: 16px;
    height: 16px;
}

.ke-icon-hr {
    background-position: 0px -592px;
    width: 16px;
    height: 16px;
}

.ke-icon-link {
    background-position: 0px -624px;
    width: 16px;
    height: 16px;
}

.ke-icon-unlink {
    background-position: 0px -640px;
    width: 16px;
    height: 16px;
}

.ke-icon-fullscreen {
    background-position: 0px -656px;
    width: 16px;
    height: 16px;
}

.ke-icon-about {
    background-position: 0px -672px;
    width: 16px;
    height: 16px;
}

.ke-icon-plainpaste {
    background-position: 0px -704px;
    width: 16px;
    height: 16px;
}

.ke-icon-wordpaste {
    background-position: 0px -720px;
    width: 16px;
    height: 16px;
}

.ke-icon-table {
    background-position: 0px -784px;
    width: 16px;
    height: 16px;
}

.ke-icon-tablemenu {
    background-position: 0px -768px;
    width: 16px;
    height: 16px;
}

.ke-icon-tableinsert {
    background-position: 0px -784px;
    width: 16px;
    height: 16px;
}

.ke-icon-tabledelete {
    background-position: 0px -800px;
    width: 16px;
    height: 16px;
}

.ke-icon-tablecolinsertleft {
    background-position: 0px -816px;
    width: 16px;
    height: 16px;
}

.ke-icon-tablecolinsertright {
    background-position: 0px -832px;
    width: 16px;
    height: 16px;
}

.ke-icon-tablerowinsertabove {
    background-position: 0px -848px;
    width: 16px;
    height: 16px;
}

.ke-icon-tablerowinsertbelow {
    background-position: 0px -864px;
    width: 16px;
    height: 16px;
}

.ke-icon-tablecoldelete {
    background-position: 0px -880px;
    width: 16px;
    height: 16px;
}

.ke-icon-tablerowdelete {
    background-position: 0px -896px;
    width: 16px;
    height: 16px;
}

.ke-icon-tablecellprop {
    background-position: 0px -912px;
    width: 16px;
    height: 16px;
}

.ke-icon-tableprop {
    background-position: 0px -928px;
    width: 16px;
    height: 16px;
}

.ke-icon-checked {
    background-position: 0px -944px;
    width: 16px;
    height: 16px;
}

.ke-icon-code {
    background-position: 0px -960px;
    width: 16px;
    height: 16px;
}

.ke-icon-map {
    background-position: 0px -976px;
    width: 16px;
    height: 16px;
}

.ke-icon-baidumap {
    background-position: 0px -976px;
    width: 16px;
    height: 16px;
}

.ke-icon-lineheight {
    background-position: 0px -992px;
    width: 16px;
    height: 16px;
}

.ke-icon-clearhtml {
    background-position: 0px -1008px;
    width: 16px;
    height: 16px;
}

.ke-icon-pagebreak {
    background-position: 0px -1024px;
    width: 16px;
    height: 16px;
}

.ke-icon-insertfile {
    background-position: 0px -1040px;
    width: 16px;
    height: 16px;
}

.ke-icon-quickformat {
    background-position: 0px -1056px;
    width: 16px;
    height: 16px;
}

.ke-icon-template {
    background-position: 0px -1072px;
    width: 16px;
    height: 16px;
}

.ke-icon-tablecellsplit {
    background-position: 0px -1088px;
    width: 16px;
    height: 16px;
}

.ke-icon-tablerowmerge {
    background-position: 0px -1104px;
    width: 16px;
    height: 16px;
}

.ke-icon-tablerowsplit {
    background-position: 0px -1120px;
    width: 16px;
    height: 16px;
}

.ke-icon-tablecolmerge {
    background-position: 0px -1136px;
    width: 16px;
    height: 16px;
}

.ke-icon-tablecolsplit {
    background-position: 0px -1152px;
    width: 16px;
    height: 16px;
}

.ke-icon-anchor {
    background-position: 0px -1168px;
    width: 16px;
    height: 16px;
}

.ke-icon-search {
    background-position: 0px -1184px;
    width: 16px;
    height: 16px;
}

.ke-icon-new {
    background-position: 0px -1200px;
    width: 16px;
    height: 16px;
}

.ke-icon-specialchar {
    background-position: 0px -1216px;
    width: 16px;
    height: 16px;
}

.ke-icon-multiimage {
    background-position: 0px -1232px;
    width: 16px;
    height: 16px;
}

/* container */
.ke-container {
    display: block;
    border: 1px solid #CCCCCC;
    background-color: #FFF;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* toolbar */
.ke-toolbar {
    border-bottom: 1px solid #CCC;
    background-color: #F0F0EE;
    padding: 3px 5px;
    text-align: left;
    overflow: hidden;
    zoom: 1;
    box-sizing: border-box;
}

.ke-toolbar-icon {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    display: inline-block;
}

.ke-toolbar-icon-url {
    background: none;
}

.ke-toolbar .ke-outline {
    border: 1px solid #F0F0EE;
    margin: 1px;
    padding: 1px 2px;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    cursor: pointer;
    display: block;
    float: left;
}

.ke-toolbar .ke-on {
    border: 1px solid #5690D2;
}

.ke-toolbar .ke-selected {
    border: 1px solid #5690D2;
    background-color: #E9EFF6;
}

.ke-toolbar .ke-disabled {
    cursor: default;
}

.ke-toolbar .ke-separator {
    height: 24px;
    margin: 5px 3px;
    border-left: 1px solid #b2c9cd;
    border-right: 1px solid #FFFFFF;
    border-top: 0;
    border-bottom: 0;
    width: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    display: block;
    float: left;
}

.ke-toolbar .ke-hr {
    overflow: hidden;
    height: 1px;
    clear: both;
}

/* edit */
.ke-edit {
    padding: 0;
}

.ke-edit-iframe,
.ke-edit-textarea {
    border: 0;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.ke-edit-textarea {
    font: 12px/1.5 "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    color: #000;
    overflow: auto;
    resize: none;
}

.ke-edit-textarea:focus {
    outline: none;
}

/* statusbar */
.ke-statusbar {
    position: relative;
    background-color: rgba(148, 175, 180, 0.1);
    border-top: 1px solid #c9d8da;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    text-align: center;
    cursor: s-resize;
}

.ke-statusbar-center-icon {
    width: 25px;
    height: 11px;
    position: relative;
}

.ke-statusbar-center-icon i {
    width: 100%;
    height: 1px;
    background: #94afb4;
    display: block;
    transform: scaleY(0.5);
    border: none;
    margin-top: 2px;
}

.ke-statusbar-right-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: se-resize;
    background-position: -5px -741px;
    width: 11px;
    height: 11px;
}

/* menu */
.ke-menu {
    background-color: #FFF;
    color: #222222;
    font-family: 'PingFang', "苹方", 'Microsoft Yahei', "sans serif", tahoma, verdana, helvetica;
    ;
    font-size: 12px;
    text-align: left;
    overflow: hidden;
    padding: 3px 0;
}

.ke-menu-item {
    border: 1px solid transparent;
    background-color: #FFF;
    color: #222222;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    font-size: 13px;
    margin: 3px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.ke-menu-item-on {
    border: 1px solid transparent;
    background-color: #E9EFF6;
}

.ke-menu-item-left {
    width: 27px;
    text-align: center;
    overflow: hidden;
}

.ke-menu-item-left .icon-ke-font {
    height: auto;
    line-height: 1;
}

.ke-menu-item-center {
    width: 0;
    height: 24px;
    border-left: 1px solid #E3E3E3;
    border-right: 1px solid #FFFFFF;
    border-top: 0;
    border-bottom: 0;
}

.ke-menu-item-center-on {
    border-left: 1px solid #E9EFF6;
    border-right: 1px solid #E9EFF6;
}

.ke-menu-item-right {
    border: 0;
    padding: 0 0 0 5px;
    line-height: 24px;
    text-align: left;
    overflow: hidden;
}

.ke-menu-separator {
    margin: 2px 0;
    height: 0;
    overflow: hidden;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #FFFFFF;
    border-left: 0;
    border-right: 0;
}

/* colorpicker */
.ke-colorpicker {
    background-color: #FFF;
    color: #222222;
    padding: 4px;
}

.ke-colorpicker-table {
    border: 0;
    margin: 0;
    padding: 0;
    border-collapse: separate;
}

.ke-colorpicker-cell {
    font-size: 0;
    line-height: 0;
    border: 1px solid transparent;
    cursor: pointer;
    margin: 3px;
    padding: 0;
}

.ke-colorpicker-cell-top {
    font-family: 'PingFang', "苹方", 'Microsoft Yahei', "sans serif", tahoma, verdana, helvetica;
    ;
    font-size: 14px;
    line-height: 30px;
    border: 1px solid transparent;
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-align: center;
}

.ke-colorpicker-cell-on {
    border: 1px solid #5690D2;
}

.ke-colorpicker-cell-selected {
    border: 1px solid #2446AB;
}

.ke-colorpicker-cell-color {
    width: 24px;
    height: 24px;
    margin: 4px;
    padding: 0;
    border: 0;
}

/* dialog */
.ke-dialog {
    position: absolute;
    margin: 0;
    padding: 0;
}

.ke-dialog * {
    box-sizing: border-box;
}

.ke-dialog .ke-header {
    width: 100%;
    margin-bottom: 10px;
}

.ke-dialog .ke-header .ke-left {
    float: left;
}

.ke-dialog .ke-header .ke-right {
    float: right;
}

.ke-dialog .ke-header label {
    margin-right: 0;
    cursor: pointer;
    font-weight: normal;
    display: inline;
    vertical-align: top;
}

.ke-dialog-content {
    background-color: #FFF;
    width: 100%;
    height: 100%;
    color: #333;
    border: 1px solid #c9d8da;
}

.ke-dialog-shadow {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 42px -12px rgb(85, 85, 85, 0.3);
    -moz-box-shadow: 0px 0px 42px -12px rgb(85, 85, 85, 0.3);
    -webkit-box-shadow: 0px 0px 42px -12px rgb(85, 85, 85, 0.3);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3', MakeShadow='true', ShadowOpacity='0.3');
    background-color: #F0F0EE;
}

.ke-dialog-header {
    border: 0;
    margin: 0;
    padding: 0 10px;
    background: #f8f8f8;
    border-bottom: 1px solid #c9d8da;
    height: 48px;
    font: 14px/48px 'PingFang', "苹方", 'Microsoft Yahei', "sans serif", tahoma, verdana, helvetica;
    text-align: left;
    color: #222;
    cursor: move;
}

.ke-dialog-icon-close {
    display: block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    text-align: center;
    font-size: 22px;
    color: #5c6e71;
}

.ke-dialog-icon-close:before {
    font-family: icon-ke-font !important;
    font-size: inherit;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e69b"
}

.ke-dialog-body {
    font: 12px/30px 'PingFang', "苹方", 'Microsoft Yahei', "sans serif", tahoma, verdana, helvetica;
    ;
    text-align: left;
    overflow: hidden;
    width: 100%;
}

.ke-dialog-body textarea {
    display: block;
    overflow: auto;
    padding: 0;
    resize: none;
}

.ke-dialog-body textarea:focus,
.ke-dialog-body input:focus,
.ke-dialog-body select:focus {
    outline: none;
}

.ke-dialog-body label {
    margin-right: 10px;
    cursor: pointer;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}

.ke-dialog-body img {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}

.ke-dialog-body select {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    width: auto;
    height: 30px;
    padding: #c9d8da;
    border-color: #c9d8da;
    color: #636363;
}

.ke-dialog-body .ke-textarea {
    display: block;
    width: 408px;
    height: 260px;
    font-family: 'PingFang', "苹方", 'Microsoft Yahei', "sans serif", tahoma, verdana, helvetica;
    font-size: 12px;
    border-color: #c9d8da;
    border-style: solid;
    border-width: 1px;
}

.ke-dialog-body .ke-form {
    margin: 0;
    padding: 0;
}

.ke-dialog-body .ke-multi-image {
    width: 106px;
}

.ke-dialog-loading {
    position: absolute;
    top: 0;
    left: 1px;
    z-index: 1;
    text-align: center;
}

@keyframes spinner-loader {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.ke-dialog-loading-content {
    color: #666;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 31px;
    padding-left: 36px;
    position: relative;
}

.ke-dialog-loading-content:after {
    content: '';
    -moz-animation: spinner-loader 1500ms infinite linear;
    -webkit-animation: spinner-loader 1500ms infinite linear;
    animation: spinner-loader 1500ms infinite linear;
    -moz-border-radius: 0.5em;
    border-radius: 20px;
    -moz-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
    -webkit-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
    display: inline-block;
    width: 6px;
    height: 6px;
    overflow: hidden;
    position: absolute;
    left: 12px;
    top: 12px;
    font-size: 6px;
}

.ke-dialog-row {
    margin-bottom: 10px;
}

.ke-dialog-footer {
    font: 12px/30px 'PingFang', "苹方", 'Microsoft Yahei', "sans serif", tahoma, verdana, helvetica;
    ;
    text-align: right;
    padding: 10px 20px;
    background-color: #FFF;
    width: 100%;
}

.ke-dialog-footer .ke-button-common.ke-dialog-no:last-child {
    margin-right: 0;
    ;
}

.ke-dialog-preview,
.ke-dialog-yes {
    margin: 5px;
}

.ke-dialog-no {
    margin: 5px 10px 5px 5px;
}

.ke-dialog-mask {
    background-color: #FFF;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.ke-button-common {
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    overflow: visible;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    background-color: #2196f3;
    border-color: #2565c4;
    box-shadow: 0 1px 9pt 1px rgb(0 0 0 / 12%);
}

.ke-button-outer {
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}

.ke-button {
    padding: 0 24px 0 20px;
    margin: 0;
    border: 0 none;
    color: #fff;
    text-decoration: none;
}

/* .ke-startup-upload-button{
	background-color: #2196f3;
    border-color: #2565c4;
} */
/* inputbox */
.ke-input-text {
    background-color: #FFFFFF;
    font-family: 'PingFang', "苹方", 'Microsoft Yahei', "sans serif", tahoma, verdana, helvetica;
    font-size: 12px;
    line-height: 17px;
    height: 17px;
    padding: 2px 4px;
    border-color: #c9d8da;
    border-style: solid;
    border-width: 1px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}

.ke-input-number {
    width: 50px;
}

.ke-input-color {
    border: 1px solid #A0A0A0;
    background-color: #FFFFFF;
    font-size: 12px;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    /* padding-left: 5px; */
    overflow: hidden;
    cursor: pointer;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}

.ke-upload-button {
    position: relative;
}

.ke-upload-area {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.ke-upload-area .ke-upload-file {
    position: absolute;
    font-size: 18px;
    top: 0;
    left: -200px;
    padding: 0;
    margin: 0;
    z-index: 811212;
    border: 0 none;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}

/* tabs */
.ke-tabs {
    font: 12px/1 'PingFang', "苹方", 'Microsoft Yahei', "sans serif", tahoma, verdana, helvetica;
    border-bottom: 1px solid #c9d8da;
    padding-left: 5px;
    margin-bottom: 20px;
}

.ke-tabs-ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ke-tabs-li {
    position: relative;
    border: 1px solid #c9d8da;
    background-color: #f6f6f6;
    margin: 0 6px -1px 0;
    padding: 0 20px;
    float: left;
    line-height: 32px;
    text-align: center;
    color: #555555;
    cursor: pointer;
}

.ke-tabs-li-selected {
    background-color: #FFF;
    border-bottom: 1px solid #FFF;
    color: #000;
    cursor: default;
}

.ke-tabs-li-on {
    background-color: #FFF;
    color: #000;
}

/* progressbar */
.ke-progressbar {
    position: relative;
    margin: 0;
    padding: 0;
}

.ke-progressbar-bar {
    border: 1px solid #6FA5DB;
    width: 80px;
    height: 5px;
    margin: 10px 10px 0 10px;
    padding: 0;
}

.ke-progressbar-bar-inner {
    width: 0;
    height: 5px;
    background-color: #6FA5DB;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.ke-progressbar-percent {
    position: absolute;
    top: 0;
    left: 40%;
    display: none;
}

/* swfupload */
.ke-swfupload-top {
    position: relative;
    margin-bottom: 16px;
    _width: 608px;
}

.ke-swfupload-button {
    height: 30px;
    line-height: 30px;
}

.webuploader-container input[type=file] {
    opacity: 0;
    cursor: pointer;
    width: 500px;
    height: 100px;
    margin-left: -200px;
}

.webuploader-element-invisible {
    opacity: 0;
    position: relative;
    z-index: 3
}

.webuploader-container {
    background-color: #2196f3;
    border-color: #2565c4;
    box-shadow: 0 1px 9pt 1px rgb(0 0 0 / 12%);
}

.webuploader-pick {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 1px;
    overflow: visible;
    zoom: 1
}

.webuploader-pick:after {
    content: '选择图片';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #2196f3;
    border-color: #2565c4;
    z-index: 1;
    margin: 0;
    padding: 0;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.ke-swfupload-desc {
    padding: 0 10px;
    height: 23px;
    line-height: 23px;
    font-size: 14px;
}

.ke-swfupload-startupload {
    position: absolute;
    top: 0;
    right: 0;
}

.ke-swfupload-body {
    overflow-y: scroll;
    background-color: #FFFFFF;
    border-color: #848484 #E0E0E0 #E0E0E0 #848484;
    border-style: solid;
    border-width: 1px;
    width: auto;
    height: 330px;
    padding: 5px;
}

.ke-swfupload-body .ke-item {
    width: 110px;
    margin: 4px;
}

.ke-swfupload-body .ke-photo {
    position: relative;
    background-color: #2196f3;
    padding: 2px;
}

.ke-swfupload-body .ke-delete {
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 1;
    background: rgba(255, 255, 255, .42);
    font-size: 14px;
    font-weight: bold;
}

.ke-swfupload-body .ke-delete::after {
    font-family: icon-ke-font !important;
    font-size: inherit;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e69b";
}


.ke-swfupload-body .ke-status {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 110px;
    height: 22px;
    line-height: 18px;
}

.ke-swfupload-body .ke-message {
    width: 100%;
    text-align: center;
    overflow: hidden;
    height: 22px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.ke-swfupload-body .ke-error {
    color: red;
}

.ke-swfupload-body .ke-name {
    width: 100px;
    text-align: center;
    overflow: hidden;
    height: 16px;
    line-height: 16px;
}

.ke-swfupload-body .ke-on {
    /* border: 1px solid #5690D2; */
    background-color: #e3eefa;
}

.ke-swfupload .ke-progressbar {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 179, 14, 0.28);
    text-shadow: 1px 1px 4px #000000;
}

.ke-swfupload .ke-progressbar-bar {
    height: 4px;
    padding: 0;
    width: 100%;
    margin: 0;
    background: #565656;
    border: none;
    position: absolute;
    bottom: 0;
}

.ke-swfupload .ke-progressbar-bar-inner {
    width: 0%;
    height: 4px;
    background-color: #32ce62;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.ke-swfupload .ke-progressbar-percent {
    position: absolute;
    bottom: 3px;
    left: 0;
    font-weight: bold;
    color: #77ff00;
    display: block;
    width: 100%;
    text-align: center;
}

.ke-swfupload-body {
    border: 3px dashed #CCC;
}

.ke-swfupload-body::after {
    content: '可拖拽文件至此处上传';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 30px;
    font-size: 24px;
    color: #e2e2e2;
    text-align: center;
    margin-top: -15px;
}

.ke-swfupload-body.drag-hover {
    border: 3px dashed #000;
}

.ke-swfupload-body .ke-item {
    position: relative;
    z-index: 1;
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}

.ke-swfupload .ke-progressbar.error {
    background: rgba(255, 178, 178, 0.5)
}

.ke-swfupload .ke-progressbar.error .ke-progressbar-bar-inner {
    background: #ff1010;
}

.ke-swfupload .ke-progressbar.error .ke-progressbar-percent {
    color: #ff1010;
}

.ke-swfupload-body .ke-message .ke-error {}

.ke-swfupload {
    position: relative;
}

.ke-swfupload .upload-error-result {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    padding: 0 50px;
    background: #ff000096;
    display: none;
    text-align: center;
    line-height: 30px;
    color: #fff;
    z-index: 2;
}

.ke-swfupload .upload-error-result.show {
    display: block;
}




.ke-status.upload-error {
    width: 100%;
    height: 100%;
}

.ke-status.upload-error .ke-message {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 0;
    background: rgba(132, 0, 0, 0.52);
    color: #fff;
    padding: 0 5px;
    text-shadow: 1px 1px #b50000;
}

.ke-plugin-plainpaste-textarea,
.ke-plugin-wordpaste-iframe {
    display: block;
    width: 408px;
    height: 260px;
    font-family: 'PingFang', "苹方", 'Microsoft Yahei', "sans serif", tahoma, verdana, helvetica;
    ;
    font-size: 12px;
    border-color: #848484 #E0E0E0 #E0E0E0 #848484;
    border-style: solid;
    border-width: 1px;
}

/* filemanager */
.ke-plugin-filemanager-header {
    width: 100%;
    margin-bottom: 10px;
}

.ke-plugin-filemanager-header .ke-left {
    float: left;
}

.ke-plugin-filemanager-header .ke-right {
    float: right;
}

.ke-plugin-filemanager-body {
    overflow: scroll;
    background-color: #FFFFFF;
    border-color: #848484 #E0E0E0 #E0E0E0 #848484;
    border-style: solid;
    border-width: 1px;
    width: auto;
    height: 370px;
    padding: 5px;
}

.ke-plugin-filemanager-body .ke-item {
    width: 100px;
    margin: 5px;
}

.ke-plugin-filemanager-body .ke-photo {
    border: 1px solid #DDDDDD;
    background-color: #FFFFFF;
    padding: 10px;
}

.ke-plugin-filemanager-body .ke-name {
    width: 100px;
    text-align: center;
    overflow: hidden;
    height: 16px;
}

.ke-plugin-filemanager-body .ke-on {
    border: 1px solid #5690D2;
    background-color: #E9EFF6;
}

.ke-plugin-filemanager-body .ke-table {
    width: 95%;
    border: 0;
    margin: 0;
    padding: 0;
    border-collapse: separate;
}

.ke-plugin-filemanager-body .ke-table .ke-cell {
    margin: 0;
    padding: 0;
    border: 0;
}

.ke-plugin-filemanager-body .ke-table .ke-name {
    width: 55%;
    text-align: left;
}

.ke-plugin-filemanager-body .ke-table .ke-size {
    width: 15%;
    text-align: left;
}

.ke-plugin-filemanager-body .ke-table .ke-datetime {
    width: 30%;
    text-align: center;
}

.ke-plugin-emoji,
.ke-plugin-symbol {
    padding: 0 3px;
    position: relative;
}

.ke-plugin-emoji .ke-table {
    width: 100%;
}

.ke-plugin-emoji .ke-table .ke-emoji {
    font-size: 24px;
    padding: 3px;
    cursor: pointer;
    border: 1px solid transparent;
    width: 24px;
    height: 24px;
    display: inline-flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

.ke-plugin-emoji .ke-table .ke-emoji:hover {
    background-color: #e7edf3;
    cursor: pointer;
    border: 1px solid #bed6ed;
}

.ke-plugin-emoji .ke-page {
    padding: 7px 5px 5px;
    text-align: center;
}

.ke-plugin-emoji .ke-page .ke-page-item {
    margin: 0 5px;
}

.ke-plugin-symbol .ke-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    min-height: 400px;
    padding-left: 92px;
}

.ke-plugin-symbol .ke-ul .ke-li {
    display: block;
}

.ke-plugin-symbol .ke-li .ke-symbol {
    font-size: 16px;
    padding: 3px;
    cursor: pointer;
    border: 1px solid transparent;
    width: 24px;
    height: 24px;
    display: inline-flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

.ke-plugin-symbol .ke-li .ke-symbol:hover {
    background-color: #e7edf3;
    cursor: pointer;
    border: 1px solid #bed6ed;
}

.ke-plugin-symbol .ke-page {
    position: absolute;
    left: 0;
    top: 0;
    width: 90px;
    height: 100%;
    /* background: #e7edf3;     */
    border-right: 1px solid #e7edf3;
}

.ke-plugin-symbol .ke-page .ke-page-item {
    display: block;
    line-height: 36px;
    background: #e9eff6;
    text-align: center;
    width: 82px;
	margin: 1px 4px 3px;
	font-weight: bold;
}
.ke-plugin-symbol .ke-page .ke-page-item a{
	color: #208eed!important;
	display: block;
	font-weight: 500;
}
.ke-plugin-symbol .ke-page .ke-page-item.ke-page-active{
	background-color: #e9eff6;
}
.ke-plugin-symbol .ke-page .ke-page-item.ke-page-active{
	color: #000;
}
.ke-plugin-symbol .ke-page .ke-page-item:hover{
	background-color: #e9eff6;
}
.ke-plugin-symbol .ke-page .ke-page-item:last-child{
	border-bottom: none;
}


/*界面美化部分代码开始*/
.ke-dialog-body .ke-input-text {
    height: 30px;
    min-height: 30px;
    min-width: 80px;
    line-height: 30px
}

.ke-dialog-body input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: middle;
    margin-left: 0;
}

.ke-dialog-body .ke-upload-button.ke-inline-block {
    margin-left: 5px;
}

.ke-dialog-body .ke-file-viewer.ke-button-outer {
    margin-left: 5px;
}

.ke-container {
    border: 1px solid #c9d8db;
}

.ke-toolbar {
    border-bottom: 1px solid #c9d8da;
    background-color: #FFF;
}

.ke-toolbar .ke-outline {
    border-color: transparent;
    padding: 0;
}

.ke-toolbar .ke-outline.ke-on {
    background-color: #eaeff5;
}

.ke-toolbar .ke-toolbar-icon {
    width: 38px;
    ;
}

/* 
.ke-dialog-content{
	border-color: transparent;
}
.ke-dialog-header{
	border-color: transparent;
	background-color: transparent;
} */


/*界面美化部分代码结束*/